@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap');

.extension-container {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
}

 /* From uiverse.io by @adamgiebl */
.extension-button {
    font-size: 1rem;
    background: #EEBE01;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3vw;
    overflow: hidden;
    transition: all 0.2s;
}
   
.extension-button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
   
.extension-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
   
.extension-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
   
.extension-button:hover svg {
    transform: translateX(1.2em) scale(1.1);
}
   
.extension-button:hover span {
    transform: translateX(5em);
}
   
.extension-button:active {
    transform: scale(0.95);
}
   
@keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
}
   
   