@import url(https://fonts.googleapis.com/css?family=Ubuntu);

/* TODO: URGENT-ADD FRAME TO PREVENT CHANGING DOC STYLE */
.extension-container {
    font-family: 'Ubuntu';
    padding: 10%;
    background-color: lightslategray;
}